*.iml
.gradle
.idea
/app/build
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
/adapterbuilder.iml
.idea/vcs.xml
app/build/
build/android-profile/profile-2017-08-14-18-22-36-584.rawproto
headerfooteradapter/build/
sample/build/
sample/libs/
